[build]
builder = "DOCKERFILE"
dockerfilePath = "./Dockerfile"
watchPatterns = ["**"]

[deploy]
healthcheckPath = "/health"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3
